<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="cn" connectionString="server=DESKTOP-F37EK32\NEERAJSQL;database=online_exam;integrated security=true;" />
    <add name="online_examConnectionString" connectionString="Data Source=DESKTOP-F37EK32\NEERAJSQL;Initial Catalog=online_exam;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="validationSettings:unobtrusiveValidationMode" value="None" />
  </appSettings>
</configuration>
